<%- include('../layouts/styles') %>
<body>  
<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <%- include('../layouts/sidebar') %>
    <div class="layout-page"> 
      <div class="content-wrapper">
        <!-- Content -->
        <%- include('../layouts/navbar') %>
        <div class="container-xxl flex-grow-1 container-p-y"> 
        <%- include('../layouts/msg') %> 
          <div class="row">
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive">
                    <h4 class="card-title">Estado de pedidos</h4>
                      <table class="table table table-bordered" id="dataTable">
                        <thead>
                          <tr style="background: #e3e3e3;">
                            <th>Processando</th>
                            <th>Cancelados</th>
                            <th>Concluídos</th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr>
                            <td><%= inTransit %></td>
                            <td><%= cancelled %></td>
                            <td><%= delivered %></td>
                        </tr>
                      </tbody>
                      </table>
                  </div>
                </div>
              </div>
            </div> 

            </div>
        </div> 
        
        </div> 
        
        <div class="content-backdrop fade"></div>
      </div>
      <!-- Content wrapper -->
    </div>
    <!-- / Layout page -->
  </div>
        
  <!-- Overlay -->
  <div class="layout-overlay layout-menu-toggle"></div>
</div> 
<script src="/js/admin/admin.js"></script> 
<%- include('../layouts/script') %>
</body>
</html>  
    
