<%- include('../layouts/styles') %>
<body>  
<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <%- include('../layouts/sidebar') %>
    <div class="layout-page"> 
      <div class="content-wrapper">
        <!-- Content -->
        <%- include('../layouts/navbar') %>
        <div class="container-xxl flex-grow-1 container-p-y">
          <div class="page-header">
            <h3 class="page-title"> 
              <button type="button" class="btn btn-dark text-center" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Adicionar produto
              </button> 
            </h3> 
            <% if(data.length>0){%>
              <p>Alguns produtos estão quase a expirar ou estão expirados <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal2">Ver</a></p>
            <%}%>
            </div>  
        <%- include('../layouts/msg') %>

          <div class="row">
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title pb-2">Todos produtos</h4>
                  <div class="table-responsive">

                      <% if(products !=null){ %>                    
                      <table class="table table table-bordered">
                        <thead>
                          <tr style="background: #e3e3e3;">
                            <th>Nome</th>
                            <th>Imagem</th>
                            <th>Categoria</th>
                            <th>Dose</th>
                            <th>Preço Kz</th>
                            <th>Data de expiração</th>
                            <th>Stock</th>
                            <th></th>
                          </tr>
                        </thead>

                        <tbody id="tableBody" style="font-size: 0.85rem;">
                          
                          <% products.forEach(function(item,i){ %>
                            <tr>
                              <td><strong><%= item.name %></strong></td>
                              <td><a href="/img/products/<%= item.thumbnail %>"><img src="/img/products/<%= item.thumbnail %>" width="50px"></a>
                                
                              </td>
                              <td><%= item.category.name %></td>
                              <td><%= item.composicao %></td>
                              <td><%= item.price %></td>
                              <td> 
                                <%if(item.expiryDate <= Date.now()){%>
                                  <span class="text-danger"><b><%=moment(item.expiryDate).format('L')%></b></span>
                                <%}else{%>
                                  <%=moment(item.expiryDate).format('L')%>
                                <%}%>
                              </td>
                              <td>
                                <%if(item.stock == 0){%> 
                                  <span class="text-danger"><b>0</b></span>
                                <%}else{%>
                                  <%= item.stock %>
                                <%}%>
                              </td>
                              <td>
                                <div class="d-flex text-center">  
                                    <div class="dropdown">
                                      <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                      </button>
                                      <div class="dropdown-menu">
                                        <a class="dropdown-item" href="/admin/product_management/edit?id=<%= item._id %>" onclick="return confirm('Editar <%= item.name %> ?')"><i class="bx bx-edit-alt me-1"></i> Editar</a>
                                        <a class="dropdown-item" href="/admin/product_management/delete_product?id=<%= item._id%>" onclick="return confirm('Pretende eliminar <%= item.name %> ?')"><i class="bx bx-trash me-1"></i> Deletar</a>
                                      </div>
                                    </div>
                                  </div>                          

                              </td>
                            </tr>  
                          <%})%>
                        </tbody>
                      </table>
                    <%}%>   
                  </div>
                </div>
              </div>
            </div>
          </div> 
        
        </div> 
        
        <div class="content-backdrop fade"></div>
      </div>
      <!-- Content wrapper -->
    </div>
    <!-- / Layout page -->
  </div>
        
  <!-- Overlay -->
  <div class="layout-overlay layout-menu-toggle"></div>
</div> 
<script src="/js/admin/dashboard.js"></script> 
<%- include('../layouts/script') %>
</body>
</html> 
 

      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog">
          <div class="modal-content" style="background: #fff;">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                  Adicionar produto
              </h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"> 
                <!-- -------------------- -->
                    <form class="forms-sample" action="/admin/product_management/add_product" method="post" enctype="multipart/form-data">
                      <div class="form-group mb-3">
                        <label for="exampleInputUsername1">Nome</label>
                        <input type="text" class="form-control" id="form-holder" name="name" required placeholder="Nome do produto">
                      </div>
                      <div class="form-group mb-3">
                        <label for="thumbnail">Imagem Principal</label>
                        <input type="file" class="form-control" id="thumbnail" name="thumbnail" required>
                      </div>
                      <div class="form-group mb-3">
                        <label for="frontImage">Imagem frontal</label>
                        <input type="file" class="form-control" id="frontImage" name="frontImage" required>
                      </div>
                      <div class="form-group mb-3">
                        <label for="images">Escolha 3 imagens para o slide</label>
                        <input type="file" class="form-control" id="images" name="images" multiple>
                      </div>
                      <div class="form-group mb-3">
                        <select id="inputState" class="form-control" name="category"> 
                          <option selected class="text-dark">Escolha a categoria</option> 
                          <%categories.forEach((data)=>{%> 
                            <option value="<%=data._id%>"><%=data.name%></option> 
                          <%})%> 
                        </select>
                      </div>         
                      <div class="form-group mb-3">
                        <label for="">Dosagem</label>
                        <input type="text" class="form-control" id="dosagem"  name="dosagem" required placeholder="dosagem do produto"/>
                      </div> 
                      <div class="form-group mb-3">
                        <label for="">Preço</label>
                        <input type="number" class="form-control" id="price" name="price" required placeholder="Preço do produto"/>
                      </div>
                      <div class="form-group mb-3">
                        <label for="">Stock</label>
                        <input type="number" class="form-control" id="stock" name="stock" required placeholder="Quantidade existente"/>
                      </div> 
                      <div class="form-group mb-3">
                        <label for="">Data de expiração</label>
                        <input type="date" class="form-control" id="expiryDate" name="expiryDate" required placeholder="Data de expiração"/>
                      </div> 
                      <div class="form-group mb-3">
                        <label for="">Fabricante</label>
                        <input type="text" class="form-control" id="fabricante" name="fabricante" required placeholder="Faricante / Distribuidora"/>
                      </div>   
                      <div class="form-group mb-3">
                        <label for="">Efeitos colaterais</label>
                        <textarea class="form-control" id="efeitos_colaterais" name="efeitos_colaterais" cols="30" rows="5" required placeholder="Efeitos que podem ser causado pelo produto"></textarea>
                      </div> 
                      <div class="form-group mb-3">
                        <label for="">Quantidade</label>
                        <input type="text" class="form-control" id="composicao" name="composicao" required placeholder="Ex.: 400mg / 500mg"/>
                      </div>   
                      <div class="form-group mb-3">
                        <label for="">Descrição</label>
                        <textarea class="form-control" id="descricao" name="descricao" cols="30" rows="10" required placeholder="Sobre o produto ou contraindicação"></textarea>
                      </div>      
                      <div class="justify-content-center text-center">
                        <button type="submit" class="btn btn-dark me-2">Salvar</button>
                        <button type="button" data-bs-dismiss="modal" class="btn btn-danger">Cancelar</button>
                      </div>
                    </form>
            </div> 
        </div>
        </div>
      </div>


      <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog">
          <div class="modal-content" style="background: #fff;">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                  Controle de data de expiração
              </h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"> 
              <ul>
                <% data.forEach(produto => { %>
                  <li><%= produto.name %> - 
                    <%if(produto.expiryDate <= Date.now()){%>
                      <span class="text-danger"><b>Expirou em <%=moment(produto.expiryDate).format('L')%></b></span>
                    <%}else{%>
                    Expira em <%=moment(produto.expiryDate).format('L')%>
                    <%}%>
                  </li>
                <% }); %>
              </ul>
            </div> 
        </div>
        </div>
      </div>